@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Hallo, @Model.Name.ToUpper() - het is nu @Model.Now.ToLongDateString()</p>
<p>Nog @Math.Round(Model.DaysUntilBirthday) dagen tot je verjaardag!</p>

<p>Use this area to provide additional information.</p>
